# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Datos generados en ejecucion (el seeder los recrea)
data/*.csv

# Editores / SO
.vscode/
.idea/
Thumbs.db
.DS_Store
